<footer :id="this.model.id" :class="this.model?.cssClass" class="bg-footer pt-5" style="border-top: 1px solid rgba(0, 0, 0, 0.12);">
    <div class="container">
        <div class="row pb-2">
            <div class="col-lg-3 col-sm-6">
                <a class="navbar-brand d-none d-sm-block flex-shrink-0 mb-4" href="/">
                    <img v-if="!imageError" :src="this._getLogoUrl()" style="max-width:140px; max-height:60px;" :alt="this._company.name" @error="handleImageError">
                    <div v-else>
                        <span>{{this._company.name}}</span>
                    </div>
                </a>
                <p v-if="this._company.address.address1" class="widget-list-link footer-text">{{this._company.address.address1}},<br> {{this._company.address.city}},<br> {{this._company.address.postalCode}},<br> {{this._company.address.country}}</p>
                <a v-if="this._company.phone && this._company.phone!==null" class="widget-list-link pb-2 mb-1 footer-text" :href="'tel:'+company.phone">{{this._company.phone}}</a>
                <a class="widget-list-link pb-2 mb-4 footer-text" :href="'mailto:'+company.email">{{this._company.email}}</a>
                <div class="widget-list-link pb-2 mb-4 ">
                    <h3 class="widget-title footer-text">{{model.iconBlock.header}}</h3>
                    <span class="px-1" v-for="icon in model.iconBlock.icons">
                        <a v-if="icon.link!=null" :href="icon.link" target="_blank">
                            <img :src="getImage(icon)" alt="icon" style="max-height: 25px" />
                        </a>
                    </span>
                </div>
            </div>
            <div v-if="this._checkOperationMode()" class="col-lg-2 col-sm-6">
                <div v-for="nav in FirstColumn" class="widget widget-links pb-2 mb-4">
                    <a :href="nav.url" class="widget-list-link"><h3 class="widget-title footer-text">{{nav.navigationTitle}}</h3></a>
                    <ul class="widget-list">
                        <li v-for="child in nav.navigations" class="widget-list-item">
                            <a :href="child.url" class="widget-list-link footer-opa6">{{child.navigationTitle}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-if="this._checkOperationMode()" class="col-lg-2 col-sm-6">
                <div v-for="nav in SecondColumn" class="widget widget-links pb-2 mb-4">
                    <a :href="nav.url" class="widget-list-link"><h3 class="widget-title footer-text">{{nav.navigationTitle}}</h3></a>
                    <ul class="widget-list">
                        <li v-for="child in nav.navigations" class="widget-list-item">
                            <a :href="child.url" class="widget-list-link footer-opa6">{{child.navigationTitle}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-if="this._checkOperationMode()" class="col-lg-2 col-sm-6">
                <div v-for="nav in ThirdColumn" class="widget widget-links pb-2 mb-4">
                    <a :href="nav.url" class="widget-list-link"><h3 class="widget-title footer-text">{{nav.navigationTitle}}</h3></a>
                    <ul class="widget-list">
                        <li v-for="child in nav.navigations" class="widget-list-item">
                            <a :href="child.url" class="widget-list-link footer-opa6">{{child.navigationTitle}}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 d-flex align-items-center">
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title footer-text pb-1">##Subscribe_to_our_newsletter##</h3>
                    <form class="subscription-form validate" action="" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
                        <div class="input-group flex-nowrap">
                            <i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input v-model="email" class="form-control rounded-start" type="email" name="EMAIL" placeholder="email" required="">
                            <button @click.prevent="subscribeEmail" class="btn btn-primary" type="submit" name="subscribe">
                                <span v-bind:class="{hidden:isLoading}">
                                    ##Subscribe##
                                </span>
                                <span v-bind:class="{hidden:!isLoading}" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                        <p v-if="this.emailIsValid===false" class="text-danger" style="width: 100%; margin-top: 0.375rem; font-size: 0.75rem;">##mailError##</p>
                        <p v-if="this.showEmailValidMessage===true" class="text-success" style="width: 100%; margin-top: 0.375rem; font-size: 0.75rem;">##emailValid##</p>
                        <div class="subscription-status"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mb-4">
                    <div class="mb-4" style="background: rgba(0, 0, 0, 0.12);width:100%;height:1px;"></div>
                    <div class="fs-xs footer-text opacity-50">© All rights reserved. Powered by <a class="footer-text" :href="this.shopranosUrl">Shopranos</a>. {{globaldata.version}} </div>
                </div>
            </div>
        </div>
    </div>
</footer>