.shadow {
    box-shadow: 0px 16px 40px 0px rgba(var(--bs-body-color), 0.16);
}
.bg-secondary {
    background-color: var(--body-bg-second-color) !important;
}
.border-theme {
  border-color: var(--border-color) !important;
}