@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "theme-icons";
  src: url("../fonts/theme-icons.ttf") format("ttf"),
    url("../fonts/theme-icons.woff") format("woff"),
    url("../fonts/theme-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
